@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #ccfbfe;
    --secondary-color: #cdcacc ;
    --accent1-color: #cdaca1;
    --accent2-color: #cd8987;
}
.logo {
    width: 80px;
}
body {
    background-color: #ebded9;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: "Playfair Display", serif;
}
p, a, li {
    font-family: "Josefina Sans", Helvetica, sans-serif;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: #ccfbfe;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 1;
}
.logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #396E94;
    text-decoration: none;
    padding: 35px 65px 35px 65px;
}
nav a:hover {
    background-color: #cdcacc;
}

/* Home */
#hero img {
    max-width: 100%;
    height: auto;
}
#hero h1 {
    position: absolute;
    top: 2.5em;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 10px;
    color: #cdcacc;
    text-shadow: 2px 2px 3px #494849;
}
main p {
    padding: 1em 180px 1em 180px;
    line-height: 1.3em;
}
#section_grid {
    display: grid;
    grid-template-columns: 25px 1fr 25px 1fr 25px;
}
#section_grid section {
    border: 2px solid var(--secondary-color);
}
.section_1 {
    grid-column: 2 / 3;
}
.section_2 {
    grid-column: 4 / 5;
}
#section_grid section h2 {
    text-align: center;
}
#section_grid img {
    display: block;
    width: 40vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    box-shadow: 5px 5px 10px #483647;
}
#section_grid p {
    padding: 0.5em 2em 0.5em 2em;
}
#section_grid a {
    display: block;
    background-color: var(--accent1-color);
    text-decoration: none;
    color: #574759;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    margin: 0 15%;
    margin-bottom: 25px;
}
#section_grid a:hover {
    background-color: var(--accent2-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #172935;
    padding: 5px 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: var(--accent1-color);
    text-decoration: none;
}
footer a:hover {
    color: #243a7a;
}
footer p {
    font-size: 0.7em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    width: 40px;
    height: auto;
}

/* Just Me */
.sub_page {
    padding-top: 100px;
}
.sub_header {
    text-align: center;
}
.uno_section {
    background-color: var(--accent2-color);
    margin: 20px 80px 30px 80px;
    padding: 25px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    box-shadow: 5px 5px 10px #483647;
}
.left_image {
    grid-column: 1 / 2;
}
.right_text {
    grid-column: 2 / 3;
}
.uno_section img {
    display: block;
    width: 40vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    box-shadow: 5px 5px 10px #483647;
}
.right_text h2 {
    margin-top: 0;
    color: #441816;
}
.right_text p {
    margin-top: -5px;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.2em;
}
.right_text ul {
    list-style-type: circle;
    padding-right: 20px;
}
.right_text li {
    font-size: 0.85em;
    padding-bottom: 3px;
}
.right_text a {
    display: block;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: #574759;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    margin: 0 15%;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px #483647;
}
.right_text a:hover {
    background-color: #483647;
    color: #ebded9;
}

/* With My Friends */
.group_grid {
    display: grid;
    grid-template-columns: 25px 1fr 25px 1fr 25px;
}
.group_grid section {
    background-color: var(--accent1-color);
    box-shadow: 5px 5px 10px #483647;
    padding-bottom: 20px;
    border-radius: 2px;
}
.group_text h2 {
    text-align: center;
    margin-top: 15px;
    color: #441816;
}
.group_text p {
    padding: 0.5em 2em 0.5em 2em;
}
.group_grid .right_text {
    line-height: 1.1em;
    margin: 20px 40px 10px 40px;
}
.group_grid img {
    display: block;
    width: 40vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    object-fit: cover;
    box-shadow: 5px 5px 10px #483647;
}